$color: blue;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
